<div class="navbar">
  <div class="sideToggle">
    <img src="/images/next-2.png" alt="" />
  </div>
  <div class="logo">
    <a href="/home" class="nothover"
      ><img
        src="/images/XYZUniversity_LockUp_TransparentBackground-01.png"
        alt=""
    /></a>
  </div>
  <div class="toggle-button">
    <span class="bars"></span>
    <span class="bars"></span>
    <span class="bars"></span>
  </div>
  <div class="text-links">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/logout1">Logout</a></li>
    </ul>
  </div>
</div>
