<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home-style.css" />
    <link rel="stylesheet" href="/css/tpp.css" />
  </head>
  <body>
    <%- include("navbar"); -%>
    <div class="container">
      <%- include("sidebar"); -%>
      <div class="content">
        <div class="contentHeading">
          <h2><%=name%></h2>
        </div>
        <div class="selectCB filex">
          <img src="../images/oops.png" />
          <h1>No Data Available</h1>
        </div>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
