<div class="sidebar">
  <ul>
    <li><a href="/tpp">Tpp/Non-Tpp</a></li>
    <li><a href="/cr">CR Management</a></li>
    <li><a href="">Event Registration</a></li>
    <li><a href="/cgpa">CGPA Based</a></li>
    <li><a href="">Mentor Management</a></li>
    <li><a href="">Sports Student</a></li>
    <li><a href="">Active Student</a></li>
    <li><a href="">High Radius/Non-High Radius</a></li>
    <li><a href="/leet">Leet Students</a></li>
    <li><a href="/placed">Placed/Non-Placed</a></li>
    <li><a href="">Club Management</a></li>
    <li><a href="">Professional Certificate</a></li>
  </ul>
</div>
