body {
  background: rgb(256, 256, 256);
  background-image: url("images/absurdity.png");
}

.boxes {
  text-decoration: none;
  color: black;
}

.contentHeading h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.contentHeading p {
  text-align: center;
}

.contentHeading h2 span {
  color: rgb(178, 50, 40);
}
